.blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .button {
    height: 100%;
  }
}

.date {
  opacity: 0.75;
  font-style: italic;
}

.summary {
  font-size: 0.872rem;
}

hr {
  all: unset;
  display: block;
  height: 1px;
  width: 75%;
  border-radius: 9999px;
  margin-inline: auto;
  background-color: var(--clr-light-foreground);
  opacity: 0.5;
  margin-block: 1rem;
}
